:root{
    --first-color:#E48561;
    --second-color: #384D58;
    --third-color: #496270;
    --fourth-color: #f3f0eb;
}


.searchbar-container {
    background-color: var(--first-color);
    display: flex;
    height: 20vh;
    flex-direction: column;
    align-items: center;
}

.searchbar-container > h1 {
    color: var(--fourth-color);
    text-align: center;
    padding: 15px;
}

.search_cities{
    width: 30%;
    
}

.search-bar {
    width: 100%;
    display: flex;  
    flex-direction: row;;
    justify-content: space-around;
    align-items: center;
    height: 45%;
}

.search-input{
    display: flex;
    align-items: center;
    width: 40%;
}

.search-input > input{
    padding: 15px;
    margin: 0;
    width: 90vw;
}


.header__center {
    display: flex;
    flex: 1;
    align-items: center;
    max-width:fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 999px;
}
.header__center > input {
    border: none;
    padding: 10px;
    outline-width: 0;
}



@media (min-width: 1024px) {

    .searchbar-container {
        flex-direction: column;
        align-items: center;
    }

    .search-bar {
        
        height: 160px;
        align-items: center;
        
    }
}