@import url("main.css");


/*------------ HEADER ------------------------*/

.header-boxes{
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}

.logotype{
    display: flex;
    flex-direction: row;
}


.logo{
    height: 50px;
}

.phrase{
    color: var(--third-color);
    margin-left: 15px;
    margin-top: 25px;
}


.phrase, .user-info, .user-login{
    display: none;
}


.login-buttons{
    display: flex;
    flex-direction: row;
    
}


.user-info{
    color: var(--first-color);
}


.user-info a {
    color: var(--third-color);
}

.user-avatar{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: var(--second-color);
    color: #fff;
}

.menu{
    cursor: pointer;
    color: var(--third-color);
    font-size: 25px;

}



/*-------------- MAIN -------------------------*/
main{
    width: 100%;
    height: 100vh;
    background-color: var(--fourth-color);
}


.side-bar{
   

    background-color: #fff;
    width: 73%;
    height: 100vh;
    top: 0;
    right: 0;
    position: absolute;
    transition: all 500ms ease;

}

.side-bar-out{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--first-color);
    height: 23vh;
    color: #fff;

}
.side-bar-out i{
    font-size: 30px;
    padding: 10px;
    align-self: flex-start

}

.side-bar-out h2{
    align-self: flex-end

}

.side-bar-options ul{
    list-style: none;
    
}

.side-bar-options ul li a{
    padding: 15px;
}

.side-bar-options ul li a h3{
    color: var(--second-color);
}


/*---------------- FOOTER -----------------*/

footer{
    background-color: var(--first-color);
    width: 100%;
    height: 7vh;
    color: #fff;
}

.footer-boxes{
    height: 7vh;
}

.footer-boxes{
    margin: 0px 25px;
    justify-content: space-between;
}
.footer-boxes, .copyright{
    display: flex;
    flex-direction: row;
    align-items: center;
}



.copyright p {
    padding-left: 10px;
    font-size: 14px;
}


.social-media{
    display: none;
}


/*----------- RESPONSIVE ------------------*/
@media screen and (min-width:768px){

    .header-boxes{
        margin: 0px 30px;
    }
    
    .menu{
        display: none;
    }

    .user-login{
        display: unset; 
    }

    .social-media{
        display: unset;
        font-size: 20px;
    }
    .social-media i{
        margin-left: 25px;
    }

    .footer-boxes{
        margin: 0px 40px;

    }
}

@media screen and (min-width: 1024px){
    .header-boxes{
        margin: 0px 40px;
    }
    
    .phrase{
        display: unset;
    }

    .footer-boxes{
        margin: 0px 60px;

    }
        
    
    
}
