@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


:root{
    --first-color:#E48561;
    --second-color: #384D58;
    --third-color: #496270;
    --fourth-color: #f3f0eb;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{

    font-family: 'Poppins', sans-serif;
}

.main{
    min-height: 100vh;
    margin-top: 10vh;
    background-color: var(--fourth-color);
    
}

a{
    text-decoration: none;
}

h1{
    font-size: 24px;
    font-weight: bold;
}

h2{
    font-size: 20px;
    font-weight: bold;
}

h3{
    font-size: 16px;
    font-weight: bold;
}

h4, .button-6{
    font-size: 14px;
    font-weight: bold;
}


.hide{
    display: none;
}
/*------------- BUTTONS ------------------*/

.button-2{
    background-color: var(--first-color);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    
    height: 40px;
}


.button-6{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    color: var(--first-color);
    background-color: #fff;
    border: 1px solid var(--first-color);
    border-radius: 5px;
    cursor: pointer;
    width: 164px;
    height: 40px;
}



.button-6 a{
    color: var(--first-color);
    padding: 10px 25px;
}

/*------------ FORM--------------*/
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 83vh;
    
}


.form-labels {
    display: flex;
    flex-direction: column;
}


label {
    font-size: 12px;
    font-weight: 500;
    color: var(--second-color);
}

input {
    width: 72vw;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgb(175, 172, 172);
    color: var(--second-color);
    font-size: 12px;
    
}

input:focus {
    outline: none;
    border: 1px solid var(--first-color);
}

.error{
    color: #FF0000;
    
    font-size: 10px;
    text-align: end;
}


