@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


:root{
    --first-color:#E48561;
    --second-color: #384D58;
    --third-color: #496270;
    --fourth-color: #f3f0eb;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding:0;
    height: 100vh;
}


.container{
    height: 100vh;
    
}


h1{
    font-size: 24px;
    font-weight: bold;
}


h1{
    font-size: 24px;
    font-weight: bold;
}

h2{
    font-size: 20px;
    font-weight: bold;
}

h3{
    font-size: 16px;
    font-weight: bold;
}

h4, .button-6{
    font-size: 14px;
    font-weight: bold;
}


.button-2{
    background-color: var(--first-color);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    
    height: 40px;
}


.button-6{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    color: var(--first-color);
    background-color: #fff;
    border: 1px solid var(--first-color);
    border-radius: 5px;
    cursor: pointer;
    width: 164px;
    height: 40px;
}


a{
    text-decoration: none;
}


.button-6 a{
    color: var(--first-color);
    padding: 10px 25px;
}

.App{
    height: 100vh;
}





/*-------------- MAIN -------------------------*/
main{
    width: 100%;
    height: 83vh;
    margin-top: 10vh;
    background-color: var(--fourth-color);
    
}





.side-bar{
   

    background-color: #fff;
    width: 73%;
    height: 100vh;
    top: 0;
    right: 0;
    position: absolute;
    transition: all 500ms ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.side-bar-out{
    background-color: var(--first-color);
    height: 23vh;
    color: #fff;
}

.side-bar-out-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 23vh;
    padding: 5px 20px 10px 10px;
}

.side-bar-out-elements a{
    padding: 10px;
    height: 100px;
    width: 50px;
}
.side-bar-out-elements a i{
    font-size: 30px;
    align-self: flex-start;
    color: #fff;

}

.side-bar-out-elements h2{
    align-self: flex-end

}

.side-bar-options{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 72vh;
}
.side-bar-options ul{
    list-style: none;
    margin-top: 40px;
    padding: 0px 20px 10px 0px;
    height: 400px;
    
}


.side-bar-options ul li {
    padding: 30px 0px;
}

.side-bar-options ul li a h3{
    color: var(--second-color);
}

.side-bar-social-media{
    padding: 0px 20px 10px 0px;
    height: 5vh;
}
.side-bar-social-media ul{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;

}

.side-bar-social-media ul li{
    margin-left: 10px;
}
.side-bar-social-media ul li a i{
    color: var(--third-color);
}

/*---------------- FOOTER -----------------*/

footer{
    background-color: var(--first-color);
    width: 100%;
    height: 7vh;
    bottom: 0;
    color: #fff;
}

.footer-boxes{
    height: 7vh;
}

.footer-boxes{
    margin: 0px 25px;
    justify-content: space-between;
}
.footer-boxes, .copyright{
    display: flex;
    flex-direction: row;
    align-items: center;
}



.copyright p {
    padding-left: 10px;
    font-size: 14px;
}


.social-media{
    display: none;
}


/*----------- RESPONSIVE ------------------*/
@media screen and (min-width:768px){

    .social-media{
        display: unset;
        font-size: 20px;
    }
    .social-media i{
        margin-left: 25px;
    }

    .footer-boxes{
        margin: 0px 40px;

    }
}

@media screen and (min-width: 1024px){


    .footer-boxes{
        margin: 0px 60px;

    }
        
    
    
}
